
<div class="form">
  <%= form_for [:admin, @item] do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :description %>
    <%= f.text_field :description %>
    <%= f.label :price %>
    <%= f.number_field :price, :class => 'text_field', step: :any %>
    <%= f.label :category_id %>
    <%= f.collection_select(:category_id, Category.all, :id, :title) %>
    <%= f.submit %>
  <% end %>
</div>
