
<h1>All Items</h1>

<div class="categories-show">
  <% @items.each do |item| %>
    <div class="items">
    <%=link_to item.title, item_path(item) %>
    <%= item.description %>
    <%= item.price %>
    <div class="item_image">
      <% if item.image.nil? %>
        <p>No image available</p>
      <% else %>
        <img src="<%= asset_path(item.image)%>"/>
        <% end %>
    </div>
  Status: <%= item.status %>
  <div class="cart_button">
    <%= button_to "Add to Cart", carts_path(item_id: item.id), class: "btn btn-danger" %>
  </div>
    <%= button_to "Edit", edit_admin_item_path(item), method: :get %><br/>
    <% if item.status == "Active" %>
      <%= button_to "Retire Item", admin_items_path(:update_status => "#{item.status}", :item_id => "#{item.id}"), method: :patch %>
    <% else %>
      <%= button_to "Reactivate Item", admin_items_path(:update_status => "#{item.status}", :item_id => "#{item.id}"), method: :patch %>
    <% end %>
  </div>
  <% end %>
</div>
<div class="back-items">
  <%= link_to "Go back to Admin Dashboard", admin_dashboard_path %>
</div>
