
<div class="form">
  <%= form_for  @user do |f| %>
    <%= f.label :username %><br/>
    <%= f.text_field :username %><br/>
    <%= f.label :password %><br/>
    <%= f.password_field :password %><br/>
    <%= f.label :fullname %><br/>
    <%= f.text_field :fullname %><br/>
    <%= f.label :address %><br/>
    <%= f.text_field :address %><br/>
    <%= f.label :state %><br/>
    <%= f.text_field :state %><br/><br/>
    <%= f.submit %>
  <% end %>
</div>
