
<div class="form">
  <%= form_for  @user do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.label :fullname %>
    <%= f.text_field :fullname %>
    <%= f.label :address %>
    <%= f.text_field :address %>
    <%= f.label :state %>
    <%= f.text_field :state %>
    <%= f.submit %>
  <% end %>
</div>
