<div class="order-show">
  Ordered by: <%= @order.user.fullname %>
  Delivery Address: <%= @order.user.address %>
  Order Status: <%= @order.status %>
  Date & Time Ordered: <%= @order.created_at %>
  Date & Time Order is updated: <%= @order.updated_at %>
  <% @order.items.each do |item| %>
  Item Name: <%= link_to item.title, item_path(item) %>
  Item Description: <%= item.description %>
  Item Price: <%= number_to_currency(item.price) %>
  Item Image: <%= item.image %>
  Item Quantity: <%= (ItemOrder.find_by(order_id: @order, item_id: item.id).quantity) %>
  Item Subtotal: <%= number_to_currency(ItemOrder.find_by(order_id: @order, item_id: item.id).subtotal) %>
  <div class="item_image">
    Item Image:<img src="<%= asset_path(item.image)%>"/>
    </div>
  <% end %>

  Total Price: <%= number_to_currency(@order.total_price) %>
  <%= link_to "Dashboard", user_path(current_user) %>
</div>
