
<div class="cart_items">
  <% if @cart.total_count != 0 %>
    <% @items.each do |item| %>
    <img src="<%= asset_path(item.image) %>"/>
      Item: <%= item.title %>
      Description: <%= item.description %>
      Price: <%= number_to_currency(item.price) %>
      Quantity: <%= @cart.count_of(item.id) %>
      <%= link_to "+", cart_add_item_path(item_id: item.id), method: :post %>
      <%= link_to "-", cart_subtract_item_path(item_id: item.id), method: :post %>
    <%= link_to 'Remove', carts_path(item_id: item.id), method: :delete %>
    <% end %>
Total Price: <%= number_to_currency(@cart.total_price) %>
  <% else %>
    <p>Your Cart is Empty!</p>
  <% end %>
  <% unless current_user %>
    <%= link_to "Login or Create Account to Checkout", login_path %>
  <%else  %>
    <%= link_to "Checkout" %>
  <% end  %>
</div>
