
  <% if @cart.total_count != 0 %>
  <div class="carts-show">
    <% @items.each do |item| %>
    <div class="items">
    <% if item.image.nil? %>
    No image exists
    <% else %>
    <img src="<%= asset_path(item.image) %>"/>
    <% end %>
      Item: <%= item.title %><br/>
      Description: <%= item.description %><br/>
      Price: <%= number_to_currency(item.price) %><br/>
      <div class="quantity">
      Quantity: <%= @cart.count_of(item.id) %>
      <%= link_to "+", cart_add_item_path(item_id: item.id), method: :post %>
      <%= link_to "-", cart_subtract_item_path(item_id: item.id), method: :post %><br/><br/>
      </div>
      Item Subtotal: <%= number_to_currency(@cart.subtotal(item.id)) %>
    <%= link_to 'Remove', carts_path(item_id: item.id), method: :delete %>
    </div>
    <% end %>
  </div>
<h1>Total Price: <%= number_to_currency(@cart.total_price) %> </h1><br/><br/>
  <% else %>
    <h1>Your Cart is Empty!</h1>
  <% end %>
  <div class="checkout-button">
  <% unless current_user %>
    <%= link_to "Login or Create Account to Checkout", login_path %>
  <%else  %>
    <%= link_to "Checkout", user_orders_path(current_user), method: :post %>
  </div>
  <% end  %>
