
<div class="cart_items">
  <% @items.each do |item| %>
    <%= item.title %>
    <%= item.description %>
    <%= number_to_currency(item.price) %>
  <img src="<%= asset_path(item.image) %>"/>
  <%= link_to 'Remove', carts_path(item_id: item.id), method: :delete %>
  <% end %> 
</div>

Total Price: <%= number_to_currency(@cart.total_price) %>
