
<section class="items">
  <% @items.each do |item| %>
  <%= item.title %>
  <%= item.description %>
  <%= item.price %>
  <div class="item_image">
    <img src="<%= asset_path(item.image)%>"/>
  </div>
  <%= button_to "Add Item", carts_path(item_id: item.id), class: "btn btn-danger" %>
  <% end %>
</section>
