<section class="center">
  <div class="items">
    <h1><%= @item.title %></h1>
    <p>Description: <%= @item.description %></p>
    <p>Price:<%= @item.price %></p>
  <div class="item_image">
    <img src="<%= asset_path(@item.image)%>"/>
  </div>
    <% if @item.status == "Inactive" %>
      <p> Item Retired</p>
    <% else %>
      <div class="cart_button">
        <%= button_to "Add to Cart", carts_path(item_id: @item.id), class: "btn btn-danger" %>
      </div>
  </div>
    <% end %>
</section>

<div class="back-items">
  <%= link_to "All Items", items_path%>
</div>
