<div class="analytics-dashboard">
  <h1>Analytics Dashboard</h1> <br>
    <div class="analytics-display">
      <p>User with most orders:<p> <strong><%= User.most_orders_placed %></strong>
      <% @categories.each do |category| %>
      <p>Highest priced item for <%="#{category.title.capitalize}"%>:</p> <strong><%= category.highest_priced_item %></strong>
      <p>Number of Orders for <%="#{category.title.capitalize}"%>:</p> <strong><%= category.orders_placed %></strong>
      <% end %>
    </div><br><br>
    <div class="orders-by-state">
      Count of Completed Orders by State <br>
      <% @orders.each do |state, count| %>
      State: <%= state %>
      Count: <%= count %>
    </div><br>
      <% end %>
      <%= button_to "Sort", admin_analytics_dashboard_path(:type => "sort"), method: :post %><br>
      <div>
        <% @items.each do |item| %>
          <%= item.title %>
          <%= item.status %>
          <%= item.retire_count %>
          <% end %>
      </div><br>
      <%= link_to "Admin Dashboard", admin_dashboard_path %>
</div>
