<div class="categories-show-title">
  <h1>All Items for <%=@category.title.capitalize %></h1>
</div>

<div class="categories-show">
  <% @category.items.each do |item| %>
    <div class="items">
      <%= link_to item.title, item_path(item) %>
      Description: <%= item.description %><br/>
      Price: $<%= item.price %><br/>
      <div class="item_image">
        <img src="<%= asset_path(item.image)%>"/>
      </div>
      <div class="cart_button">
        <%= button_to "Add to Cart", carts_path(item_id: item.id), class: "btn btn-danger" %>
      </div>
    </div>

  <% end %>
</div>
<div class="back-items">
<%= link_to "All Items", items_path %>
</div>
