<!DOCTYPE html>
<html>
  <head>
    <title>LittleShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if current_user && !current_user.admin? %>
    <nav class="container">
        <h1> Logged in as <%= current_user.username%>!</h1>
        <div class='log'>
          <%= link_to 'Home', root_path %>
          <%= link_to 'Shop', items_path %>
          <%= link_to 'View Cart', cart_path %>
          <%= link_to 'Log Out', logout_path, :method => :delete %>
        </div>
      </nav>
      <% elsif current_user && current_user.admin? %>
      <nav class="container">
        <h1> Logged in as <%= current_user.username%>!</h1>
        <div class='log'>
          <%= link_to 'Home', root_path %>
          <%= link_to 'Shop', items_path %>
          <%= link_to 'View Cart', cart_path %>
          <%= link_to 'Log Out', logout_path, :method => :delete %>
          <%= link_to 'Dashboard', admin_dashboard_path %>
         </div>
      </nav>
    <% else %>
      <nav class="container">
        <h1>Welcome to the Keen Bean!</h1>
        <div class='log'>
          <%= link_to 'Home', root_path %>
          <%= link_to 'Shop', items_path %>
          <%= link_to 'View Cart', cart_path %>
          <%= link_to "Login", login_path%>
      <% end %>
        </div>
      </nav>
      <p class="cart">Cart: <%= @cart.total_count %></p>
      <% flash.each do |type, message| %>
        <%= content_tag :div, message.html_safe, class: type  %>
      <% end %>
    <%= yield %>
  </body>
</html>
